asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
certifi==2023.5.7
cloudinary==1.33.0
confusable-homoglyphs==3.2.0
Django==4.2.2
django-bootstrap4==23.1
django-decouple==2.1
django-registration==3.3
djangorestframework==3.14.0
pytz==2023.3
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
typing-extensions==4.6.3
urllib3==1.26.16
whitenoise==6.5.0
